@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%;
    /* Off-white */
    --foreground: 0 0% 3.9%;
    /* Near black */

    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 45%;

    --primary: 0 0% 9%;
    /* Dark grey */
    --primary-foreground: 0 0% 98%;
    /* White */

    --theme-color: 0 0% 9%;
    --border: 0 0% 90%;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 0 0% 15%;
    --muted-foreground: 0 0% 64%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --theme-color: 0 0% 98%;
    --border: 0 0% 15%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}